{% extends "base/index.html" %}
{% load static %}

{% block title %}sellervibe | login-now{% endblock %}

{% block stylesheet %}
{% endblock %}



{% block content %}
<div class="preview border-none bg-base-200 rounded-b-box rounded-tr-box flex min-h-[6rem] min-w-[18rem] max-w-4xl flex-wrap items-center justify-center gap-2 overflow-x-hidden border bg-cover bg-top undefined text-primary-content bg-opacity-0 shadow-2xl subpixel-antialiased" style="background-size: 5px 5px">
      <div class="flex-col hero-content lg:flex-row-reverse bg-base-100 bg-opacity-0">
        <div class="text-center lg:text-left pt-24">
          <h3 class="text-5xl font-bold">Login now!</h3>
          <p class="py-6">Log in to access the powerful tools and resources to grow your Amazon FBA business.</p>
          <img loading="lazy" src="{% static 'img/login-now.svg' %}" alt="login-now-svg">
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm">
          <div class="card-body">
                <!-- Social sign up buttons -->
                <div class="mb-4">
                    <a href="{{ google_auth_url }}" class="btn btn-outline w-full mb-2 normal-case flex-nowrap text-primary-content bg-base-content bg-opacity-80 border-none">
                      <div loading="lazy" class="" id="google-lottie" style="width: 38px; height: 38px;"></div>
                      Use Google account
                    </a>
                    <a href="{{ facebook_auth_url }}" class="btn btn-outline w-full mb-2 normal-case flex-nowrap text-primary-content bg-base-content bg-opacity-80 border-none">
                      <div loading="lazy" class="mr-2" id="facebook-lottie" style="width: 26px; height: 26px;"></div>
                        Use Facebook account
                    </a>
                    <a href="{{ office365_auth_url }}" class="btn btn-outline w-full mb-2 normal-case flex-nowrap text-primary-content bg-base-content bg-opacity-80 border-none">
                      <div loading="lazy" class="" id="microsoft-office-lottie" style="width: 36px; height: 36px;"></div>
                        Use Office365 account
                    </a>
                </div>
    
                <!-- Separator -->
                <div class="divider font-bold">OR</div> 
    
                <!-- Sign up form -->
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-control mb-2 text-base-content">
                        <label class="label">
                          <span class="label-text">Email</span>
                        </label>
                        <input type="email" placeholder="email" class="input input-bordered" name="email" required/>
                      </div>
                      <div class="form-control mb-2 text-base-content">
                          <label class="label">
                            <span class="label-text">Password</span>
                          </label>
                          <input type="password" placeholder="password" class="input input-bordered" name="password" required/>
                        </div>
                        <button type="submit" class="btn btn-active btn-primary w-full normal-case text-primary-content">Log In</button>
                </form>

          </div>
        </div>
      </div>
  </div>
{% endblock %}

{% block script %}
<script src="{% static 'lottie/lottie.min.js' %}"></script>
<script>
  lottie.loadAnimation({
    container: document.getElementById('google-lottie'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: '{% static "img/google-lottie.json" %}',
    rendererSettings: {
    preserveAspectRatio: 'xMidYMid meet',
    progressiveLoad: false,
    scaleMode: 'noScale',
    hideOnTransparent: true
  }
  });
  lottie.loadAnimation({
    container: document.getElementById('facebook-lottie'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: '{% static "img/facebook-lottie.json" %}',
    rendererSettings: {
    preserveAspectRatio: 'xMidYMid meet',
    progressiveLoad: false,
    scaleMode: 'noScale',
    hideOnTransparent: true
  }
  });
  lottie.loadAnimation({
    container: document.getElementById('microsoft-office-lottie'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: '{% static "img/microsoft-office-lottie.json" %}',
    rendererSettings: {
    preserveAspectRatio: 'xMidYMid meet',
    progressiveLoad: false,
    scaleMode: 'noScale',
    hideOnTransparent: true
  }
  });
</script>
{% endblock %}
