{% extends "base/light/index.html" %}
{% load static %}

{% block title %}sellervibe | email tool | send emails{% endblock %}

{% block stylesheet %}{% endblock %}

{% block send_active_line %}bg-opacity-100{% endblock %}
{% block send_active %}bg-base-100{% endblock %}

{% block content_width %}max-w-4xl{% endblock %}
{% block content %}

    <h1 class="text-4xl font-extrabold my-8">Send Emails</h1>
    <p>Sending bulk emails has never been easier! With our intuitive email tool, you can easily select your contacts, upload any necessary attachments, and customize the sender details including the "from" email address and name. Craft your email message with ease using our text editor, and when you're ready, simply click "send" to deliver your message to your entire contact list at once. Streamline your email communication today and start reaching your customers and contacts with ease!</p>    
    <div class="bg-base-content/10 my-10 mx-1 h-px"></div>
    
    <div class="component-preview text-base-content max-w-4xl relative overflow-x-auto transition-all duration-200 space-y-4">
        <div class="grid">
            <div class="rounded-md border-2 border-dashed border-base-content border-opacity-75 flex justify-center items-center flex-col bg-base-100 bg-opacity-30 cursor-pointer space-y-2 h-36 m-6" id="dropZone">
                <div class="flex justify-center items-center flex-col space-y-2" id="dropZone_base">
                    <div class="rounded-full h-10 w-10 justify-center items-center bg-base-100 border-none inline-flex shadow my-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" , class="h-6 w-6 text-success opacity-75">
                        <path cd="M0,0H20V20H0Z"></path>
                        <path d="M15.833,11.667H11.667v4.167a.833.833,0,0,1-1.667,0V11.667H5.833a.833.833,0,1,1,0-1.667H10V5.833a.833.833,0,1,1,1.667,0V10h4.167a.833.833,0,0,1,0,1.667Z" transform="translate(-0.833 -0.833)"></path>
                        </svg>
                    </div>
                    <span class="m-1 text-sm opacity-75">
                        <a href="#" class="link link-hover link-success opacity-75">Upload a file </a>or drag and drop </span>
                    <span class="pb-4 text-xs opacity-50">almost all data files supported. max size of files ~7mb</span>
                </div>
                <div layz class="w-24 absolute" id="success-lottie" style="display: none;"></div>
                <div class="flex justify-center items-center flex-col space-y-4" style="display: none;" id="dropZone_progress"><progress class="progress progress-success w-56" value="0" max="100" id="dropZone_progress_obj"></progress><h1 class="text-sm font-bold">Please wait until files upload</h1></div>
                <div class="px-2 w-full flex-col space-y-2 overflow-auto" id="dropZone_fileBase" style="display: none;"></div>
            </div>
        </div>
        <div class="bg-base-content/10 h-px mx-6"></div>
        <div class="grid m-0 p-0 mx-3 sm:mx-6">
            <div class="form-control mx-1 my-2">
                <div class="tooltip" data-tip="You cannot modify this label, as it is automatically assigned to each user. Rest assured, all emails will be delivered to the email address associated with your chosen reply label.">
                    <label class="input-group input-group-vertical">
                    <span>From:</span>
                    <input type="email" class="input input-bordered focus:outline-none focus:animate-pulse" readonly value="info@sellervibe.co" id="input_from" required/>
                    </label>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 place-items-stretch">
                <div class="form-control mx-1 my-2">
                    <div class="tooltip" data-tip="When the email is replied to by the recipient, the response will be redirected to the email address you enter in this field.">
                        <label class="input-group input-group-vertical">
                        <span>Reply to:</span>
                        <input type="email" class="input input-bordered focus:outline-none focus:placeholder-transparent" placeholder="your email" id="input_replyTo" required/>
                        </label>
                    </div>
                </div>
                <div class="form-control mx-1 my-2">
                    <div class="tooltip" data-tip="This feature does not supported yet">
                        <label class="input-group input-group-vertical">
                        <span>Cc: <span class="text-xs opacity-75">(not required)</span></span>
                        <input type="text" class="input input-bordered focus:outline-none focus:placeholder-transparent" placeholder="email1, email2, ..." id="input_cc" disabled/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-control mx-1 my-2">
                <div class="tooltip" data-tip="You can choose one of the lists you've created in the contacts section.">
                    <label class="input-group input-group-vertical">
                    <span>To:</span>
                    <select class="select select-bordered focus:outline-none" id="pick_list" required><option disabled selected>Select a contact</option></select>
                    </label>
                </div>
            </div>
            <div class="form-control mx-1 my-2">
                <label class="input-group input-group-vertical">
                <span>Subject:</span>
                <input type="text" class="input input-bordered focus:outline-none focus:placeholder-transparent" placeholder="Text here..." id="input_subject" required/>
                </label>
            </div>
            <div class="form-control mx-1 my-2">
                <label class="input-group input-group-vertical">
                <span class="grid">
                    <div class="flex flex-row justify-between items-center">
                        <div>Message:</div>
                        <div class="form-control flex items-center">
                            <div class="tooltip" data-tip="comming soon">
                                <label class="label cursor-pointer">
                                    <span class="label-text text-xs">Use template:</span> 
                                    <div class="hidden"></div>
                                    <input type="checkbox" class="toggle toggle-xs toggle-primary" disabled/>
                                    <div class="hidden"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="hidden" id="badge_container">
                        <div class="bg-base-100 h-px"></div>
                        <div class="flex justify-between items-center">
                            <div class="flex flex-wrap bg-base-300 space-x-3 space-y-3 pb-3" id="badge_div">
                                
                            </div>
                            <div class="tooltip" data-tip="What is this?">
                                <div class="hidden"></div>
                                <label for="modal-field-help" class="btn btn-xs btn-circle btn-outline border-none">?</label>
                                <div class="hidden"></div>
                            </div>
                        </div>
                    </div>
                </span>
                <textarea type="text" class="input input-bordered focus:outline-none focus:placeholder-transparent h-80 sm:h-48 text-sm placeholder:italic" placeholder="Hi {name},&#10;&#10;I hope you are doing well. I am interested in your {product} from {company} and would like to inquire about its current price. Could you please provide me with a quote, including any available discounts or offers?&#10;Looking forward to your response.&#10;&#10;Best regards,&#10;A.C.O." id="textarea_message" required></textarea>
                </label>
            </div>
        </div>
        <div class="grid">
            <div class="form-control mx-6 place-items-end">
                <button type="submit" class="btn btn-outline gap-2" id="submit_send">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" enable-background="new 0 0 100 100" viewBox="0 0 100 100"><path d="M89.442,11.418c-12.533,5.19-66.27,27.449-81.118,33.516c-9.958,3.886-4.129,7.529-4.129,7.529s8.5,2.914,15.786,5.1
                        c7.286,2.186,11.172-0.243,11.172-0.243l34.244-23.073c12.143-8.257,9.229-1.457,6.315,1.457
                        c-6.315,6.315-16.758,16.272-25.501,24.287c-3.886,3.4-1.943,6.315-0.243,7.772c6.315,5.343,23.558,16.272,24.53,17.001
                        c5.131,3.632,15.223,8.861,16.758-2.186c0,0,6.072-38.13,6.072-38.13c1.943-12.872,3.886-24.773,4.129-28.173
                        C98.185,8.018,89.442,11.418,89.442,11.418z"></path></svg>
                    Send Emails
                </button>
            </div>
        </div>
    </div>

{% endblock %}
{% block content_btn %}
<div class="bg-base-content/10 my-10 mx-1 h-px"></div>
<div class="flex justify-between">
    <div>
        <a href="/tools/mail/templates" class="btn btn-sm md:btn-md btn-ghost gap-2 normal-case lg:gap-3">
        <svg class="h-6 w-6 fill-current md:h-8 md:w-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"></path>
        </svg>
        <div class="flex flex-col items-start">
            <span class="text-base-content/50 hidden text-xs font-normal md:block">Prev</span>
            <span>Templates</span>
        </div>
        </a>
    </div>
    <div>
        <a href="#" class="btn btn-sm md:btn-md gap-2 normal-case lg:gap-3" hidden>
        <div class="flex flex-col items-end">
            <span class="text-neutral-content/50 hidden text-xs font-normal md:block">Next</span>
            <span></span>
        </div>
        <svg class="h-6 w-6 fill-current md:h-8 md:w-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
        </svg>
        </a>
    </div>
</div>
{% endblock %}

{% block before_body %}
<input type="checkbox" id="modal-send-checkbox" class="modal-toggle"/>
<div class="modal" id="modal-send">
  <div class="modal-box space-y-4 h-auto max-w-2xl overflow-x-scroll overflow-y-auto relative justify-center items-center">
    <div class="modal-action">
      <label for="modal-send-checkbox" class="btn">Close</label>
    </div>
  </div>
</div>

<input type="checkbox" id="modal-field-help" class="modal-toggle"/>
<div class="modal" id="modal-field-help">
    <div class="modal-box space-y-8 relative">
        <label for="modal-field-help" class="btn btn-xs btn-square btn-outline border-none absolute right-2 top-2 normal-case">x</label>
        <p class="font-bold">What is this?</p>
        <p class="pb-1 text-sm">You can use custom fields from your spreadsheet to personalize your emails. To do this, simply include the column headers in your email text, and the system will automatically replace the headers with the corresponding data for each recipient.<br><br>For example, if your spreadsheet contains fields such as "first_name," "last_name," and "company," you can use them in your email as follows:<br><br>"Hello {first_name} {last_name}, I hope everything is going well at {company}."<br><br>When the email is sent, the system will replace {first_name}, {last_name}, and {company} with the appropriate information for each recipient, personalizing the message for them.</p>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/email_tool/send.min.js' %}"></script>
{% endblock %}
