._body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 85.5vh;
    justify-content: center;
    /* align-items: center; */
}

.card-section {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: calc(100vh - 140px);
    margin: 0;
    padding: 25px;
    padding-top: 25px;
}

.drop-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 2px dashed #aaa;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    color: #aaa;
    cursor: pointer;
}

.drop-zone.active {
    border-color: #3387ccc3;
    transition: .3s ease;
}

.drop-zone.has-file {
    border-color: #3387ccc3;
    height: fit-content;
}

.drop-zone.has-file::before {
    content: attr(data-name);
    font-size: xx-small;
    font-weight: bold;
    color: #3387ccc3;
}