{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>sellervibe | verify-human</title>
        <link rel="icon" href="{% static 'img/logo.svg' %}" type="image/x-icon">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
            function onRecaptchaCompleted(token) {
                window.location.href = "{% url view_name %}";
            }
        </script>
        <link rel="stylesheet" href="{% static 'css/slow-down.css' %}">
    </head>
    <body>
        <div class="container">
            <h1 class="heading">Please verify that you are human</h1>
            <div class="lottie" id="robot-lottie"></div>
            <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" data-callback="onRecaptchaCompleted"></div>
        </div>

        <script src="{% static 'lottie/lottie-light.min.js' %}"></script>
        <script src="{% static 'lottie/lottie-anim.min.js' %}"></script>
        <script src="{% static 'js/slow-down.js' %}"></script>
    </body>
</html>