{% extends "base/index.html" %}
{% load static %}

{% block title %}sellervibe | get started{% endblock %}

{% block stylesheet %}
<style>
    .installing-text {
      display: inline-block;
      position: relative;
      overflow: hidden;
      vertical-align: bottom;
    }

    .installing-text::after {
      content: "";
      display: inline-block;
      position: relative;
      left: 0;
      animation: installing-dots .75s infinite;
      transition: all 500ms ease;
      opacity: .7;
    }

    @keyframes installing-dots {
        0% {content: "loading▐";}
       50% {content: "loading";}
      100% {content: "loading▐";}
    }
</style>
{% endblock %}

{% block content %}
    <div class="lg:pl-10 lg:pb-32">
        <div class="mb-2 py-4 text-center lg:py-10 lg:text-left">
            <h1 class="font-title mb-2 text-4xl font-extrabold sm:text-5xl lg:text-6xl">sellerVIBE tools</h1>
            <h2 class="font-title text-lg font-extrabold sm:text-xl lg:text-2xl">Unlock the full potential of your Amazon FBA business with our innovative solutions</h2>
        </div>
        <div class="flex w-full flex-col items-center space-y-10 lg:flex-row lg:items-start lg:space-x-4 lg:space-y-0">
            <div class="my-2 flex max-w-sm flex-col gap-2 text-left">
                <div class="flex gap-2">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 flex-none stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg> Easy to use interface and navigation
                </div>
                <div class="flex gap-2">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 flex-none stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg> Track and manage sales in one place
                </div>
                <div class="flex gap-2">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 flex-none stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg> Ability to send bulk email
                </div>
                <div class="flex gap-2">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 flex-none stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg> Tools to streamline order fulfillment and shipping processes
                </div>
                <div class="flex gap-2">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 flex-none stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg> Affordable pricing plans with flexible options to suit different needs and budgets
                </div>
            </div>
            <div class="mockup-code border-base-content w-full max-w-xs flex-1 border-0 border-opacity-10 bg-opacity-20 pb-8 text-left text-current lg:mx-0 hover:translate-y-3 hover:scale-110 transform-gpu transition-all duration-500">
                <pre data-prefix="$"><code><a href="/tools/mail">sellervibe email</a></code></pre>
                <pre data-prefix="$"><code><a href="#">sellervibe asin</a></code></pre>
                <pre data-prefix=">" class="text-info"><code class="installing-text"></code></pre>
            </div>
            
        </div>
        <div class="mb-2 py-4 text-center lg:py-10 lg:text-left">
            <h1 class="font-title text-lg font-extrabold sm:text-sm lg:text-xl">Ready to take your Amazon FBA business to the next level? Join our community of like-minded sellers and get the support you need to succeed in today's competitive marketplace.</h1>
        </div>
        <div class="mt-4 flex flex-1 justify-center space-x-2 lg:mt-6 lg:justify-start">
            <a sveltekit:prefetch="" href="/login" class="btn btn-ghost btn-active lg:btn-lg normal-case">
            <span class="hidden sm:inline">Log In</span>
            <span class="inline sm:hidden">LogIn</span>
            </a>
            <a sveltekit:prefetch="" href="/signup" class="btn lg:btn-lg normal-case">Sign Up</a>
        </div>
    </div>

{% endblock %}
{% block content-outside %}

    <div class="bg-base-200 flex flex-col items-center gap-20 py-20">
      <div class="flex w-full justify-center">
        <div class="stats stats-vertical md:stats-horizontal bg-base-200">
          <a href="/tools/mail" class="stat place-items-center gap-0 bg-transparent px-10 hover:opacity-70">
            <div class="stat-value tabular-nums">2</div>
            <div class="stat-desc">Tools</div>
          </a>
          <a href="#" target="_blank" rel="noopener" class="stat place-items-center gap-0 bg-transparent px-10 hover:opacity-70">
            <div class="stat-value tabular-nums">
              <span>19,500</span>
            </div>
            <div class="stat-desc">Online</div>
          </a>
          <a href="#" target="_blank" rel="noopener" class="stat place-items-center gap-0 bg-transparent px-10 hover:opacity-70">
            <div class="stat-value tabular-nums">
              <span>4,308,500</span>
            </div>
            <div class="stat-desc">Seller Partners</div>
          </a>
        </div>
      </div>
      <div class="flex w-full justify-center">
        <a sveltekit:prefetch="" href="/signup" class="btn btn-primary btn-wide">Get Started Now!</a>
      </div>
    </div>
    
    <div>
      <div class="bg-base-200 text-base-content">
        <footer class="footer mx-auto max-w-6xl px-4 py-20">
          <div>
            <div class="font-title inline-flex text-3xl">
              <span class="text-primary lowercase">seller</span>
              <span class="text-base-content uppercase">VIBE</span>
            </div>
            <p class="opacity-50">Professional Amazon FBA Tools <br> For all Amazon seller partners </p>
          </div>
          <div>
            <span class="footer-title">Guides</span>
            <a href="/tools/mail" class="link link-hover">How to send email</a>
            <a href="/" class="link link-hover">How to use FBA Tool</a>
          </div>
          <div>
            <span class="footer-title">Available on</span>
            <a target="_blank" rel="noopener" href="https://sellercentral.amazon.com/selling-partner-appstore" class="group link link-hover">Selling Partner Appstore <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">
                <path fill-rule="evenodd" d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>
              </svg>
            </a>
            <a target="_blank" rel="noopener" href="https://play.google.com/store/apps" class="group link link-hover">Google Play <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">
                <path fill-rule="evenodd" d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>
              </svg>
            </a>
            <a target="_blank" rel="noopener" href="https://www.apple.com/tr/app-store/" class="group link link-hover">Apple Store <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">
                <path fill-rule="evenodd" d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>
              </svg>
            </a>
          </div>
        </footer>
      </div>
      <footer class="footer footer-center border-base-300 bg-base-200 text-base-content border-t px-4 pt-4">
        <div class="flex w-full max-w-6xl flex-col items-center justify-between gap-6 sm:flex-row">
          <a href="/" rel="noopener" target="_blank" class="inline-flex items-center justify-center hover:opacity-90">
            <div class="avatar mr-3">
              <div class="mask mask-squircle bg-neutral h-14 w-14 p-px">
                <img loading="lazy" width="54" height="54" src="{% static 'img/logo.svg' %}" alt="Ahmet Cevdet ÖZTÜRK" class="mask mask-squircle">
              </div>
            </div>
            <div class="text-left">
              <p class="text-base-content text-xs text-opacity-50">Created by</p>
              <h2 class="text-base-content text-lg font-bold">Amazon BOYZ</h2>
            </div>
          </a>
          <div class="flex flex-col items-center gap-4 text-left sm:flex-row">
            <div class="flex flex-col gap-2 pb-6">
              <h3 class="text-base-content/50 text-xs font-bold">Sponsors</h3>
              <div class="flex gap-2 flex-col sm:flex-row">
              </div>
              <a href="https://opencollective.com/" target="_blank" rel="nofollow" class="group link link-hover text-xs opacity-80">Become a sponsor <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">
                  <path fill-rule="evenodd" d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>

{% endblock %}

{% block script %}{% endblock %}
