{% extends "light_base/index.html" %}
{% load static %}

{% block title %}sellervibe | mail tool{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}

    <h1 class="text-4xl font-extrabold my-8">Email Tool</h1>
    <p>We're excited to announce a new feature that will make it even easier for you to manage your contacts and send bulk emails. With this new feature, you can now import contacts from a file or text and send emails to them in bulk. To get started, simply log in to your account and navigate to the contact management section. From there, you can easily upload your contact list and start sending emails right away. We hope this new feature will make your email marketing efforts even more effective and efficient. As always, if you have any questions or need assistance, please don't hesitate to reach out to our support team.</p>

{% endblock %}
{% block content_btn %}
<div class="bg-base-content/10 my-10 mx-1 h-px"></div>
<div class="flex justify-between">
    <div>
        <a href="#" class="btn btn-sm md:btn-md btn-ghost gap-2 normal-case lg:gap-3" hidden>
        <svg class="h-6 w-6 fill-current md:h-8 md:w-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"></path>
        </svg>
        <div class="flex flex-col items-start">
            <span class="text-base-content/50 hidden text-xs font-normal md:block">Prev</span>
            <span></span>
        </div>
        </a>
    </div>
    <div>
        <a href="/tools/mail/contacts" class="btn btn-sm md:btn-md gap-2 normal-case lg:gap-3">
        <div class="flex flex-col items-end">
            <span class="text-neutral-content/50 hidden text-xs font-normal md:block">Next</span>
            <span>Contacts</span>
        </div>
        <svg class="h-6 w-6 fill-current md:h-8 md:w-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
        </svg>
        </a>
    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}
